*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/x5corelibrary/build
/captures
.externalNativeBuild
.idea/markdown-navigator/
.idea/modules.xml
.idea/vcs.xml
